<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque sint totam modi praesentium quam
                accusantium nesciunt quos cum nulla voluptate consequuntur aspernatur, quaerat magni facere eum iure.
                Obcaecati, eius fuga?</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@google.com</li>
                <li><i class="fa-solid fa-phone"></i> (11)5544-8874</li>
                <li><i class="fa-brands fa-whatsapp"></i> (11)99987-8855</li>
            </ul>

        </address>
    </div>
    <section class="footer_copyright">
        &copy; Todos os direitos reservados

    </section>


</footer>